body {
	background-color: #222;
}

.mainFont {
	letter-spacing: 2px;
	text-align: center;
	font: 20px impact, sans-serif;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.clickerImage {
	display: block;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
    transition: width 0.3s, height 0.3s;
}

.clickerImage:active {
    width: 245px;
    height: 175px;
}

/* css for info blocks */
#firstInfo, #secondInfo, #thirdInfo,
#fourthInfo, #fifthInfo {
	display: none;
	color: #fff;
	background-color: #000;
}

/* css for window sections */
.mainWindow {
	padding-top: 30px;
	padding-left: 30px;
}

.buttonOptions {
	position: relative;
}

.buttonsWindow {
	padding-top: 30px;
}

.buttonsWindow2 {
	text-align: right;
	padding-top: 30px;
}

/* css for buttons */
.buttonFont {
	letter-spacing: 2px;
	font: bold 28px impact, sans-serif;
}

.btn {
	text-align: left;
}

.btn.disabled {
	cursor: pointer;
}

.btn > img {
	display: inline;
}

.btn > p {
	display: inline;
	font: bold 17px impact, sans-serif;
}

/* css for footer of page */
.footer {
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 3px;
}

.footer > hr {
	position: relative;
	width: 100%;
}

.footer > a {
	position: relative;
	padding-left: 5px;
}

.footer > p {
	position: relative;
	padding-left: 5px;
}
